.main-navbar {
    background-image: none;
    background-color: #1C1C1C;
    color: white;
}

.main-navbar .nav-link {
    color: white;
    text-transform: uppercase;
}

.navbar-toggler {
    background-color: white;
}